<ion-view view-title="People">
  <ion-content padding="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refresh()">
    </ion-refresher>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="vm.filter" placeholder="Search (e.g. - John Smith)">
      </label>
    </div>
    
    <ion-list>
      <ion-item class="item-avatar" collection-repeat="person in vm.people | filter: vm.filter">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQLV9Fpe2eu2pVQCUBSTzSY95zI0teRszEivNzLDbYq8yEVuLyqUOm5h48" alt="{{person.name}}" />
        <h2>{{person.name}}</h2>
        <p>{{person.practice}}</p>

        <ion-option-button class="button icon" ng-class="{'ion-ios-email': vm.platform.isIos, 'ion-android-mail': vm.platform.isAndroid}"
        ng-click="vm.openBrowser('mailto:' + person.email)" ng-show="person.email.length > 0"></ion-option-button>
        <ion-option-button class="button icon" ng-class="{'ion-ios-chatbubble': vm.platform.isIos, 'ion-android-textsms': vm.platform.isAndroid}"
        ng-click="vm.openBrowser('sms:' + person.phone)" ng-show="person.phone.length > 0"></ion-option-button>
        <ion-option-button class="button icon" ng-class="{'ion-ios-telephone': vm.platform.isIos, 'ion-android-call': vm.platform.isAndroid}"
        ng-click="vm.openBrowser('tel:' + person.phone)" ng-show="person.phone.length > 0"></ion-option-button>
        <!--<ion-option-button class="button icon" ng-class="{'ion-ios-person': vm.platform.isIos, 'ion-android-person': vm.platform.isAndroid}"
        ng-click="vm.openBrowser('yammer://www.yammer.com/rightpoint.com/users/' + person.username + '?allow_app_redirect=1')"></ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>