<ion-view view-title="People">
  <ion-content padding="false">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="vm.filter" placeholder="Search (e.g. - John Smith)">
      </label>
    </div>
    <ion-list>
      <ion-item class="" ng-repeat="person in vm.people | filter:vm.filter">
        {{person.name}}

        <ion-option-button class="button icon" ng-class="{'ion-ios-email': vm.platform.isIos, 'ion-android-mail': vm.platform.isAndroid}" ng-click="vm.openUrl('mailto:{{person.email}}')"></ion-option-button>
        <ion-option-button class="button icon" ng-class="{'ion-ios-telephone': vm.platform.isIos, 'ion-android-call': vm.platform.isAndroid}" ng-click="vm.openUrl('tel:{{person.phone}}')"></ion-option-button>
        <ion-option-button class="button icon" ng-class="{'ion-ios-person': vm.platform.isIos, 'ion-android-person': vm.platform.isAndroid}" ng-click="vm.openBrowser('https://www.yammer.com/rightpoint.com/users/{{person.username}}')"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>