<ion-view view-title="People">
  <ion-content padding="false">
    <label class="item item-input">
      <input type="text" ng-model="vm.filter" placeholder="Search (e.g. - John Smith)">
    </label>
    <ion-list>
      <ion-item class="" ng-repeat="person in vm.people | filter:vm.filter">
        {{person.name}}

        <ion-option-button class="button icon ion-ios-email ion-android-mail" ng-click="vm.navigate('mailto:{{person.email}}')"></ion-option-button>
        <ion-option-button class="button icon ion-ios-telephone ion-android-phone" ng-click="vm.navigate('tel:{{person.phone}}')"></ion-option-button>
        <ion-option-button class="button icon ion-ios-person ion-android-person" ng-click="vm.navigate('https://www.yammer.com/rightpoint.com/users/{{person.username}}')"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>